django  # WEBSITE
djangorestframework>=0  # API
djoser  # JWT
psycopg2  # POSTGRESQL
redis  # REDIS (CELERY BROKER)
pymongo  # MONGODB (REGISTRATION QUEUE)
cryptography  # AES ENCRYPTION FOR MONGODB
python-dotenv  # DOTENV
flake8  # LINTER
flake8-django  # LINTER PLUGIN
flake8-django-migrations  # LINTER PLUGIN
django_imap_backend  # EMAIL BACKEND
celery  # TASK QUEUE
django_ratelimit>=0  # API RATELIMITS
uuid  # UUID4
ruff  # LINTER (FLAKE8 QUICK ALTERNATIVE)
pre-commit  # PRE-COMMIT
